*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
    padding: 0px;
}

/* Pandel */

.panel{
    height: 40px;
    background-color: #5a0475;
    display: flex;
    color: white;
    justify-content: space-evenly;
    align-items: center;
}

.panel-options{
    width: 80%;
    display: flex;
    justify-content: end;
}

.panel-options a{
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

.panel-deals a{
    font-size: 0.9;
    font-weight: 700;
    color: white;
    text-decoration: none;
}

/* Navbar */
.navbar{
    height: 60px;
    background-color: #8915ac;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    background-image: url("img/brandlogo.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 45px;
    width: 150px;
    display: flex;
    justify-content: center;
    padding-top: 8px;
}

.border{
    border: 1.5px solid transparent;

}

.border:hover{
    border: 1.5px solid white;
}

.logo{
    /* background-image: url("img/Screenshot\ 2024-02-05\ 224745.png"); */
    background-size: contain;
    background-repeat: no-repeat;
}

.address-icon{
    display: flex;
    align-items: center;
}

.address1{
    font-size: 0.80rem;
    color: #cccccc;
    margin-left: 15px;
}
.address2{
    font-size: 1rem;
    margin-left: 3px;
    font-weight: 700;
}

.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: aqua;
    width: 700px;
    height: 45px;
    border-radius: 5px;
}

.nav-search :hover{
    border: 2px solid aqua;
}

.select-search{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border: none;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #0f1111;
    
}

.sign-drop{
    width: 20px;
    background-color: #0f1111;
    color: white;
}

.sign1{
    font-size: 0.7rem;
}

.sign2{
    font-size: 1rem;
    font-weight: 700;
}

.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 800;
}

.categorypalette{
    height: 126px;
    margin-top: 200px;
    padding: 0px 80px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    border-top: 2px solid rgb(218, 216, 216);
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
}

.cat{
    height: 126px;
    width: 96%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cat1{
    height: 106px;
    width: 133px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img1{
    background-image: url(img/grocery.webp);
    background-repeat: no-repeat;
    height: 70px;
    width: 70px;
    background-size: cover;
    margin-bottom: 2px;
    text-decoration: none;
}

.img2{
    background-image: url(img/mobile.webp);
    background-repeat: no-repeat;
    height: 70px;
    width: 70px;
    background-size: cover;
    margin-bottom: 2px;
    text-decoration: none;
}

.img3{
    background-image: url(img/fashion.webp);
    background-repeat: no-repeat;
    height: 70px;
    width: 70px;
    background-size: cover;
    margin-bottom: 2px;
    text-decoration: none;
}

.img4{
    background-image: url(img/electronics.webp);
    background-repeat: no-repeat;
    height: 70px;
    width: 70px;
    background-size: cover;
    margin-bottom: 2px;
    text-decoration: none;
}

.img5{
    background-image: url(img/furniture.webp);
    background-repeat: no-repeat;
    height: 70px;
    width: 70px;
    background-size: cover;
    margin-bottom: 2px;
    text-decoration: none;
}

.img6{
    background-image: url(img/appliaces.webp);
    background-repeat: no-repeat;
    height: 70px;
    width: 70px;
    background-size: cover;
    margin-bottom: 2px;
    text-decoration: none;
}

.img7{
    background-image: url(img/plane.webp);
    background-repeat: no-repeat;
    height: 70px;
    width: 70px;
    background-size: cover;
    margin-bottom: 2px;
    text-decoration: none;
}

.img8{
    background-image: url(img/toy.webp);
    background-repeat: no-repeat;
    height: 70px;
    width: 70px;
    background-size: cover;
    margin-bottom: 2px;
    text-decoration: none;
}

.img9{
    background-image: url(img/bike.webp);
    background-repeat: no-repeat;
    height: 70px;
    width: 70px;
    background-size: cover;
    margin-bottom: 2px;
    text-decoration: none;
}

.adsbarnne1{
    height: 205px;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
}

.adsimg1{
    background-image: url(img/acer.png);
    height: 205px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.adsbarnne2{
    height: 210px;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
}

.ads2{
    height: 210px;
    width: 32.7%;
}
.img21{
    height: 210px;
    width: 100%;
    background-image: url(img/img21.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.img22{
    height: 210px;
    width: 100%;
    background-image: url(img/img22.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.img23{
    height: 210px;
    width: 100%;
    background-image: url(img/img23.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.adsbarnne3{
    height: 210px;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
}

.ads3{
    height: 210px;
    width: 32.7%;
}
.img31{
    height: 210px;
    width: 100%;
    background-image: url(img/img31.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.img32{
    height: 210px;
    width: 100%;
    background-image: url(img/img32.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.img33{
    height: 210px;
    width: 100%;
    background-image: url(img/img33.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.querypalette{
    height: 200px;
    width: 100%;
    border-top: 2px solid rgb(218, 216, 216);
    border-bottom: 2px solid rgb(218, 216, 216);
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.query{
    height: 200px;
    width: 330px;
    background-color: pink;
    border-left: 2px solid rgb(218, 216, 216);
    border-right: 2px solid rgb(218, 216, 216);

}

.img41{
    height: 200px;
    width: 330px;
    background-image: url(img/img41.png);
    background-size: cover;
    background-repeat: no-repeat;

}
.img42{
    height: 200px;
    width: 330px;
    background-image: url(img/img42.png);
    background-size: cover;
    background-repeat: no-repeat;

}
.img43{
    height: 200px;
    width: 330px;
    background-image: url(img/img43.png);
    background-size: cover;
    background-repeat: no-repeat;

}
.img44{
    height: 200px;
    width: 330px;
    background-image: url(img/img44.png);
    background-size: cover;
    background-repeat: no-repeat;

}

.otherlinks{
    height: 295px;
    border-bottom: 2px solid rgb(218, 216, 216);
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    color: black;
    padding-top: 15px;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}

.footer-lst a{
    display: block;
    color: rgb(138, 137, 137);
    margin-top: 10px;
    font-size: 0.85rem;
    text-decoration: none;
}

.otherlinks-search1{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    width: 250px;
    height: 45px;
    border-radius: 5px;
    margin-top: 10px;
}

.search-input1{
    width: 150px;
    font-size: 0.8rem;
    border: none;
    background-color: rgb(234, 229, 229);
}

.search-icon1{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    color: #ffffff;
}

.methods{
    height: 121px;
    border-bottom: 2px solid rgb(218, 216, 216);
    margin-bottom: 15px;
    padding-left: 100px;
    display: flex;
    flex-wrap: wrap;
}

.paymethod{
    height: 121px;
    width: 410px;
}

.socialmedia{
    height: 121px;
    width: 410px;
    margin-left: 150px;
}

.pay{
    height: 35px;
    width: 410px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.img51{
    height: 35px;
    width: 45px;
    background-image: url(img/img51.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.img52{
    height: 35px;
    width: 52px;
    background-image: url(img/img52.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.img53{
    height: 35px;
    width: 49px;
    background-image: url(img/img53.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.img54{
    height: 35px;
    width: 47px;
    background-image: url(img/img54.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.img55{
    height: 35px;
    width: 75px;
    background-image: url(img/img55.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.img56{
    height: 35px;
    width: 75px;
    background-image: url(img/img56.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.social{
    height: 50px;
    width: 410px;
    background-color: white;
}
.img61{
    height: 35px;
    width: 410px;
    background-image: url(img/img6.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.allinks{
    height: 450px;
    background-color: rgb(243, 241, 241);
    padding: 50px 100px 30px 100px;
    
}

.copyright{
    height: 60px;
    background-color: white;
    color: #474343;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: space-between;
}
